# система скачивание данных с YAHOO

In [1]:
from selenium import webdriver
driver = webdriver.Chrome("C:\\driver\\chromedriver.exe")
urlYahooFinance = "https://finance.yahoo.com/?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cueWFob28uY29tLw&guce_referrer_sig=AQAAAK4TT7XK6wJ-ZqOQ7NCYS77gclOH4X9ee21R6er_LHjC8pqEusS8_qkCwix4QIK3Xtq8_Dext6fBuqq0Jc73HtoacgsdqCjCjP05IHc3NQJUTuvtM22UUQIOb71ZjZKSQiPAcDlyub72xQKDlnpHP42HyioisFKnF_7X_n_-Dom1"
driver.get(urlYahooFinance)

In [3]:
urlYF_item ="https://finance.yahoo.com/quote/AA/?p=AA"
driver.get(urlYF_item)

In [13]:
urlYF_item ="https://finance.yahoo.com/quote/AA/history?p=AA"
s = driver.get(urlYF_item)

In [7]:
user =driver.find_element_by_xpath('//span[@title="{}"]'.format(name[IdUser]))
user.click()

C:\Users\user\Anaconda3\lib\site-packages\bs4\__init__.py:335: UserWarning: "https://finance.yahoo.com/quote/AA/history?p=AA" looks like a URL. Beautiful Soup is not an HTTP client. You should probably use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  ' that document to Beautiful Soup.' % decoded_markup

In [15]:
eClass = driver.find_element_by_id("Main")

In [19]:
MyLoad = eClass.text

In [38]:
Tag = "Volume\n"
offset = MyLoad.find(Tag)+ len(Tag)
TagClose = "*Close"
offsetClose =MyLoad[offset:].find(TagClose)

In [41]:
MyFrame = MyLoad[offset :  offset + offsetClose].split("\n")

In [49]:
MyList = []
for item in MyFrame:
    a = item.split(" ")
    if (len(a) > 1):
        MyList.append(a)

In [52]:
import pandas as pd
pdDF = pd.DataFrame(columns=["Date","Open","High","Low","Close","AdjClose","Volume"])

In [69]:
pdDF = pd.DataFrame(MyList,columns=["Month","Day","Yaer","Open","High","Low","Close","AdjClose","Volume"])

In [133]:
b = pdDF.columns[:3]
pdDF["Date"] = pdDF[b[0]] + " " +  pdDF[b[1]] +  " " +  pdDF[b[2]]
pdDF["Date"] = pdDF["Date"].apply(lambda x: pd.to_datetime(parser.parse(x)))
pdDF.head()

  Month  Day  Yaer   Open   High    Low  Close AdjClose     Volume       Date
0   May  03,  2019  26.23  26.83  26.05  26.68    26.68  3,375,900 2019-05-03
1   May  02,  2019  25.88  26.38  25.72  25.93    25.93  2,917,100 2019-05-02
2   May  01,  2019  26.70  27.10  25.98  26.00    26.00  3,681,900 2019-05-01
3   Apr  30,  2019  26.71  27.02  26.37  26.68    26.68  3,270,000 2019-04-30
4   Apr  29,  2019  26.82  26.94  26.48  26.85    26.85  2,298,600 2019-04-29

In [81]:
from datetime import datetime

datetime_object = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')

In [131]:
for row in pdDF.T:
    print(row)
    a = " ".join(row[:3])
    print(a)

0

TypeError: 'int' object is not subscriptable

In [106]:
a = pdDF[b]

In [62]:
from dateutil import parser
dt = parser.parse("Aug 28 1999 12:00AM")

In [63]:
dt

datetime.datetime(1999, 8, 28, 0, 0)

In [65]:
pd.to_datetime(datetime_object)

Timestamp('2005-06-01 13:33:00')

In [88]:
 pdDF[pdDF.columns[:3]]

   Month  Day  Yaer
0    May  03,  2019
1    May  02,  2019
2    May  01,  2019
3    Apr  30,  2019
4    Apr  29,  2019
5    Apr  26,  2019
6    Apr  25,  2019
7    Apr  24,  2019
8    Apr  23,  2019
9    Apr  22,  2019
10   Apr  18,  2019
11   Apr  17,  2019
12   Apr  16,  2019
13   Apr  15,  2019
14   Apr  12,  2019
15   Apr  11,  2019
16   Apr  10,  2019
17   Apr  09,  2019
18   Apr  08,  2019
19   Apr  05,  2019
20   Apr  04,  2019
21   Apr  03,  2019
22   Apr  02,  2019
23   Apr  01,  2019
24   Mar  29,  2019
25   Mar  28,  2019
26   Mar  27,  2019
27   Mar  26,  2019
28   Mar  25,  2019
29   Mar  22,  2019
..   ...  ...   ...
70   Jan  23,  2019
71   Jan  22,  2019
72   Jan  18,  2019
73   Jan  17,  2019
74   Jan  16,  2019
75   Jan  15,  2019
76   Jan  14,  2019
77   Jan  11,  2019
78   Jan  10,  2019
79   Jan  09,  2019
80   Jan  08,  2019
81   Jan  07,  2019
82   Jan  04,  2019
83   Jan  03,  2019
84   Jan  02,  2019
85   Dec  31,  2018
86   Dec  28,  2018
87   Dec  27,  2018
88   Dec  26,  2018
89   Dec  24,  2018
90   Dec  21,  2018
91   Dec  20,  2018
92   Dec  19,  2018
93   Dec  18,  2018
94   Dec  17,  2018
95   Dec  14,  2018
96   Dec  13,  2018
97   Dec  12,  2018
98   Dec  11,  2018
99   Dec  10,  2018

[100 rows x 3 columns]